*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.stopwatch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.452)), url("images/background.png");
    background-size: cover;
    color: white;
    width: 700px;
}
.stopwatch h1{
    font-size: 3em;
    padding: 40px 0px;
}

