

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite AU SA", serif;
}
body{
    background: #bbc6fa;
    
}
.quote-box{
    background: #fff;
    max-width: 600px;
    height: fit-content;
    padding: 30px;
    text-align: center;
    margin: 50px auto;
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.quote-box blockquote{
    margin-top: 40px;
    font-size: 2rem;

}
.quote-box h4{
    text-align: right;
    margin-top: 20%;
}
.quote-box button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 25px ;
    margin-top:20%;
    transition: 0.5s ease;
}
.quote-box img{
    width: 20px;
    
}
.btn{
    display: flex;
    justify-content: space-evenly;
}
button:hover{
    background-color: aqua;
    transform: scale(1.1);
    color: white;
}
